body{
	background-color: white;
	font-family:American Typewriter, serif;
}
header{
	/*display : grid;
	grid-template-columns: 1fr 2fr 1fr 2fr;
	justify-items: center;
	margin: 20px*/
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	border-bottom:solid deepskyblue;
	}

footer{
	/*margin: 20px;
	border-top:solid deepskyblue;;*/
}

footer ul{
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	list-style: none;
}

a:hover
{
	font-weight:bold;
}

a
{
	text-decoration:none;
	color:black;
}

.img_logo
{	
	display:block;
	width:6em;
	height:5em;
	margin-left:30em;
	margin-right:30em;
}

.img_profil
{
	display:block;
	width:3em;
	height:3em;
	margin-top:0.7em;
}

.img_menu
{
	display:block;
	width:3em;
	height:3em;
	margin-top:0.7em;
}

.content{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.left {
	background-color: deepskyblue;
	box-shadow:10px 10px 10px lightgrey;
}
.right {
	background-color: coral;
	box-shadow:-10px 0px 10px 1px lightgrey;
}
#form_login{
	justify-self: center;
}
#form_inscription{
	justify-self: center;
}
.form-inscription{
	max-width: 40vw;
	padding: 10px;
	margin: 10px;
}
fieldset{
	border: 4px solid yellowgreen;
	border-radius: 20px;
}
fieldset legend{ 
	text-align: center;
	font-size: 30px;
}
.fieldset_content{
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.form-inscription .btn-valider{ 
	min-width: 200px;
	position: relative;
	left: 30%;
}
.error{ 
	display: block;
	color: salmon;
}
.middle p:first-child{
	text-align: center;
	font-size:2em;
}  
.creer{
	margin-right:12em;
	margin-left:2em;
	text-align:justify;
}
.middle .diffuser{
	margin-left:12em;
	margin-right:2em;
	text-align:justify;
}

.analyser{
	margin-right:12em;
	margin-left:2em;
	text-align:justify;
}

.choix {
	margin-left:12em;
	margin-right:2em;
	text-align:justify;
}

.dashboard {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.middle_left {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.middle_left span:nth-child(odd){
	border: solid 2px;
}
.middle_left span:nth-child(even){
	border-radius: 50%;
	background-color: mediumblue;
}
.middle_right {
	display:block;
}
.middle_right div{
	border: solid 2px goldenrod;
}
.form-check-input{
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 45vw;
	border: 4px solid deepskyblue;
	padding: 10px;
	margin: 5em;
	border-radius: 20px;
	
}
.form-check-input h3:first-child{
	grid-column: 1/span 2;
	justify-self: center;
	padding: 10px;
}

input[type="text"], input[type="password"]{
	margin: 5px;
}
.btn-reset {
	background-color: white;
	border:solid black 0.5px;
	box-shadow:2px 2px 2px lightgrey;
	color:black;
	padding: 5px;
	margin-top:2em;
	
}
.btn-valider {
	background-color: white;
	color:black;
	border:solid black 0.5px;
	box-shadow:2px 2px 2px lightgrey;
	padding: 5px;
	margin-top:2em;
	
}
button {
	margin: 5px;
	border-radius: 10px;
}
button:active{transform:scale(0.94,0.94);}
.dashboard span{
	padding: 5px;
	margin: 25px;
}
.dashboard .middle_right div{
	padding: 5px;
	margin: 15px;
}
/*
.form-check-input {
	display:block;
	padding: 5px;
	justify-items: center;
}
.form-jeu{
	display: grid;
	grid-row: auto;
	max-width: 30vw;
	justify-items: center;
	border: 4px double yellowgreen;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
}




.form-connexion button{
	position: relative;
	left:20px;
}

.deco, .acceuil{ 
	float: right;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	border-radius: 25px;
	background-color: gold;

}
.deco:active, .acceuil:active{ transform:scale(0.94,0.94);}
.choix-jeu{
	display:grid;
	grid-template-columns: 1fr 0.7fr 1fr;
	grid-gap: 5px ;
	padding: 10px;
	justify-items: center;
}
 .valider-jeu{
	position: relative;
	left:150px;
}
.jeu-mise{
	position: relative;
	left:100px;
}



